.Navbar {
  height: 100px;

  .wrapper {
    height: 100%;
    max-width: 1360px;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
      font-weight: 900;
    }
    .social {
      display: flex;
      gap: 1em;

      img {
        width: 17px;
      }
    }
  }
}
