* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth !important;
}
body {
  padding-left: 250px;
  font-family: sans-serif;
  background: #0c0c1d;
  color: lightgray;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}
