* {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth !important;
}
body {
  margin: 0;
  padding-left: 250px;
  padding-right: 2em;
  font-family: sans-serif;
  background: linear-gradient(#0c0c1d, #8282e9);
  color: lightgray;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}
